.email {
  width: 30px;
  height: auto;
}
.phone {
  width: 30px;
  height: auto;
}

img:hover {
    /*increase the size of the image*/
   transform: scale(1.5)}

   footer{
    background-image: url('bubbles.jpg');
   }