h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(14, 151, 108);
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(214, 157, 22);
}
.flex-container {
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
    width: 70%;
    justify-content: center;
    align-items: center;
  }

    
.flex-container > div {
    background-color: #f1f1f1;
    width: 40%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  img {
    justify-content: center;
    padding-top: 15px;
  }

  video {
    justify-content: center;
    padding-top: 15px;
  }

/* Flex layout in mobile view*/
@media screen and (max-width: 759px) {

  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
  }

}