 
 
 
 
 /* This a comment that the browser would ignore.  */


body {background-color: #88ebda;}
h1 { color: #1d67f0;}
p { color: #4a87f7;
    font: sans-serif;
    font-size: 12pt;
}
H3 {
  width: 300px;
  border: 10px solid grey;
  padding: 30px;
  margin: 10px;
float: center;
}